/* .green{
    width: 400px;
    background-color: green;
    height: 200px;
}
.red{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-color: red;
    margin:auto;
    margin-top: 50;

} */
.parent{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.div-1{
    background-color: red;
    width: 200px;
    height: 200px;
}
.div-2{
    background-color: blue;
    width: 200px;
    height: 200px;
}
.div-3{
    background-color: green;
    width: 200px;
    height: 200px;
}